.App {
  text-align: left;
}

.App-header {
  background-color: #2c2c2c;
  color: white;
  padding: 2rem;
}

.App-logo {
  width: 3rem;
  color: white;
  margin-right: 2rem;
}

.App-title {
  vertical-align: center;
}
