
$body-bg: #2c2c2c;
$body-color: #ffffff;

$theme-colors: (
    "primary":    #2696ff,
    "secondary":  #6c757d,
    "success":    #28a745,
    "info":       #17a2b8,
    "warning":    #ffc107,
    "danger":     #dc3545,
    "light":      #f8f9fa,
    "dark":       #303030
);

$enable-rounded: false;

@import "../../node_modules/bootstrap/scss/bootstrap";